<div class="container">
  <div class="row custyle">
    <table class="table table-striped custab">
      <thead>
        <tr>
          <th>ID</th>
          <th>Subject code</th>
          <th>Subject name</th>
          <th>Project name</th>
          <th>Lecture</th>
          <th>Slot</th>
          <th class="text-center">Status</th>
        </tr>
      </thead>
      {{#each projects}}
      <tr>
        <td>{{_id}}</td>
        <td>{{_code}}</td>
        <td>{{_subject_name}}</td>
        <td>{{_name}}</td>
        <th>{{_lecturer}}</th>
        <th>{{_remaining}}/{{_quantity}}</th>
        <td class="text-center">
          {{#slot _remaining _id}}
          {{/slot}}
        </td>
      </tr>
      {{/each}}
    </table>
  </div>
</div>
