<div class="container-fluid">
  <div class="container">
    {{#with project}}

    <div class="project-info">

      <h4>Project information</h4>
      <div class="project-field">

        <div class="row">
          <h5 class="col-md-4">Subject code:</h5>
          <span class="col-md-8">{{_code}}</span>
        </div>
        <div class="row">
          <h5 class="col-md-4">Subject name:</h5>
          <span class="col-md-8">{{_subject_name}}</span>
        </div>
        <div class="row">
          <h5 class="col-md-4">Lecturer:</h5>
          <span class="col-md-8">{{_lecturer}}</span>
        </div>
        <div class="row">
          <h5 class="col-md-4">Project name:</h5>
          <span class="col-md-8">{{_name}}</span>
        </div>
        <div class="row">
          <h5 class="col-md-4">Description:</h5>
          <span class="col-md-8">{{_description}}</span>
        </div>
        <div class="row">
          <h5 class="col-md-4">Slot:</h5>
          <span class="col-md-8">{{_remaining}}/{{_quantity}}</span>
        </div>
      </div>
    </div>
    {{#if teamInfo}}
    <div class="project-info">
      <h4>Your team</h4>

      <div class="project-field">
        <div class="row">
          <h5 class="col-md-3">Name: </h5>
          <span class="col-md-9">{{teamInfo.group_name}}</span>
          <h5 class="col-md-3">Student 1: </h5>
          <span class="col-md-9">{{teamInfo.student_1}}</span>
          <h5 class="col-md-3">Student 2: </h5>
          <span class="col-md-9">{{teamInfo.student_2}}</span>
          <h5 class="col-md-3">Student 3: </h5>
          <span class="col-md-9">{{teamInfo.student_3}}</span>
        </div>
      </div>
      <form action="/projects/{{_id}}?_method=DELETE" method="POST">
        <input hidden name="studentId" value="{{username}}">
        <input hidden name="_method" value="DELETE">
        <input hidden name="groupId" value="{{teamInfo.group_id}}">
        <button class="btn btn-danger" type="submit">Delete team</button>
      </form>
    </div>

    {{else}}

    <form class="form-horizontal" action="/projects/{{_id}}" method="POST">
      <fieldset>

        <!-- Form Name -->
        <h4>Register form:</h4>
        <div class="project-field">
          <!-- Text input-->
          <div class="form-group">
            <div class="row">
              <label class="col-md-3 control-label" for="group_name">Group name:</label>
              <div class="col-md-5">
                <input id="group_name" name="group_name" type="text" placeholder=""
                  class="form-control input-md" required="">
              </div>
            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <div class="row">
              <label class="col-md-3 control-label" for="student_2">Student 2:</label>
              <div class="col-md-5">
                <input id="student_2" name="student_2" type="text" placeholder=""
                  class="form-control input-md" required="">
              </div>
            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <div class="row">
              <label class="col-md-3 control-label" for="student_3">Student 3:</label>
              <div class="col-md-5">
                <input id="student_3" name="student_3" type="text" placeholder=""
                  class="form-control input-md" required="">
              </div>
            </div>
          </div>

          <!-- Button -->
          <div class="form-group">
            <div class="row">
              <label class="col-md-3 control-label" for="submit_register"></label>
              <div class="col-md-3">
                <button id="submit_register" name="submit_register" type="submit"
                  class="btn btn-primary">Submit</button>
              </div>
            </div>
          </div>
        </div>

      </fieldset>
    </form>
    {{/if}}

    {{/with}}
  </div>
</div>